<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DS0105EN-SkillsNetwork/labs/Module2/images/SN_web_lightmode.png" width="300" alt="cognitiveclass.ai logo">
</center>

#### Add your code below following the instructions given in the course

# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are :

- 1) Python
- 2) C++
- 3) Java
- 4) R 
- 5) SQL
- 6) Julia
- 7) MATLAB
- 8) Scala

Some of the commonly used libraries used by Data Scientists include :

1. Numpy
2. Matplotlib
3. Pandas
4. Seaborn
5. scikit-learn

| Data Science Tools |
|-------------------|
| Jupyter Notebook            |
| RStudio            |
| Apache Spark            |

### Below are a few examples of evaluating arithmetic expressions in Python.

In [3]:
# This is a simple arithmetic expression to multiply then add integers
# The expression returns 17, the expected output
print((3*4)+5)

17

In [9]:
# This will convert 200 minutes to hours by diving by 60
minutes = 200 
hours = minutes//60
print("200 minutes equals to",hours, "hours and", minutes%60, "minutes.")
print("But you can say 200 minutes, it's", minutes/60, "hours.")

200 minutes equals to 3 hours and 20 minutes.
But you can say 200 minutes, it's 3.3333333333333335 hours.

**Objectives:**

- List data science languages
- List data science libraries
- Introduce code in python in differents cells

## Author

RÃ©my Gasmi